{
    "project_id": "138954035753",
    "twelvedata_config": {
        "api_url": "https://api.twelvedata.com/time_series",
        "gcp_secret": {
            "secret_id": "TwelvedataApiKey",
            "version_id": 1
        }
    },
    "finnhub_config": {
        "api_url": "",
        "gcp_secret": {
            "secret_id": "FinnHubApiKey",
            "version_id": 1
        }
    }
}